<div class="appointmentDetailspage ps-3 p-5">
  <div style="height: 300px; background-color: rgb(253, 200, 135)">
    Pet Report History
  </div>

  <div class="report mt-3 mb-0">
    <hr class="mt-0" />

    <div class="report-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 mx-auto left-part">
          <div class="vitals border shadow mb-4 p-3 pe-0 rounded-3">
            <h4>Vitals</h4>
            <div class="icons mt-4 ps-3">
              <div class="icon-container me-5 d-inline-block">
                <div class="mb-2"><i class="fa-regular fa-heart icon"></i></div>
                <span class="icon-text"><b>22</b> HR</span>
              </div>

              <div class="icon-container me-5 d-inline-block">
                <div class="mb-2">
                  <i class="fa-solid fa-thermometer icon"></i>
                </div>
                <span class="icon-text"><b>22</b> &deg;C</span>
              </div>

              <div class="icon-container d-inline-block">
                <div class="mb-2"><i class="fa-solid fa-lungs icon"></i></div>
                <span class="icon-text"><b>22</b> BPM</span>
              </div>
            </div>
          </div>
          <div class="symptoms border shadow mb-4 p-3 pe-0 rounded-3">
            <h4>Symptoms</h4>
            <div class="all-item-list mt-4 ps-3">
              <div class="capsule">ECG</div>
              <div class="capsule">Stree Test iuuaishd</div>
              <div class="capsule">ECG</div>
              <div class="capsule">Stree Test</div>
            </div>
          </div>
          <div class="tests border shadow mb-4 p-3 pe-0 rounded-3">
            <h4>Tests</h4>
            <div class="all-item-list mt-4 ps-3">
              <div class="capsule">ECG</div>
              <div class="capsule">Stree Test iuuaishd</div>
              <div class="capsule">ECG</div>
              <div class="capsule">Stree Test</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 mx-auto right-part">
          <div class="precription border shadow p-3 rounded-3">
            <div class="precription-heading d-flex justify-content-between">
              <h4>Precription</h4>
              <button class="btn me-3 orange-color-bg">Select Dates</button>
            </div>
            <div class="row all-item-list p-3">
              <div
                class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
              >
                <div class="medandid">
                  <p>#ID-1233</p>
                  <small class="d-block">1. Cronin</small>
                  <small class="d-block">2. Iodian</small>
                </div>

                <div class="appointmentdate my-auto">
                  <span>28th march 2022</span>
                  <small class="d-block">10:30 PM</small>
                </div>
              </div>

              <div
              class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
            >
              <div class="medandid">
                <p>#ID-1233</p>
                <small class="d-block">1. Cronin</small>
                <small class="d-block">2. Iodian</small>
              </div>

              <div class="appointmentdate my-auto">
                <span>28th march 2022</span>
                <small class="d-block">10:30 PM</small>
              </div>
            </div>

            <div
            class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
          >
            <div class="medandid">
              <p>#ID-1233</p>
              <small class="d-block">1. Cronin</small>
              <small class="d-block">2. Iodian</small>
            </div>

            <div class="appointmentdate my-auto">
              <span>28th march 2022</span>
              <small class="d-block">10:30 PM</small>
            </div>
          </div>

          <div
          class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
        >
          <div class="medandid">
            <p>#ID-1233</p>
            <small class="d-block">1. Cronin</small>
            <small class="d-block">2. Iodian</small>
          </div>

          <div class="appointmentdate my-auto">
            <span>28th march 2022</span>
            <small class="d-block">10:30 PM</small>
          </div>
        </div>

        <div
        class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
      >
        <div class="medandid">
          <p>#ID-1233</p>
          <small class="d-block">1. Cronin</small>
          <small class="d-block">2. Iodian</small>
        </div>

        <div class="appointmentdate my-auto">
          <span>28th march 2022</span>
          <small class="d-block">10:30 PM</small>
        </div>
      </div>

      <div
      class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
    >
      <div class="medandid">
        <p>#ID-1233</p>
        <small class="d-block">1. Cronin</small>
        <small class="d-block">2. Iodian</small>
      </div>

      <div class="appointmentdate my-auto">
        <span>28th march 2022</span>
        <small class="d-block">10:30 PM</small>
      </div>
    </div>

    <div
    class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
  >
    <div class="medandid">
      <p>#ID-1233</p>
      <small class="d-block">1. Cronin</small>
      <small class="d-block">2. Iodian</small>
    </div>

    <div class="appointmentdate my-auto">
      <span>28th march 2022</span>
      <small class="d-block">10:30 PM</small>
    </div>
  </div>

              <div
                class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
              >
                <div class="medandid">
                  <p>#ID-1233</p>
                  <small class="d-block">1. Cronin</small>
                  <small class="d-block">2. Iodian</small>
                </div>

                <div class="appointmentdate my-auto">
                  <span>28th march 2022</span>
                  <small class="d-block">10:30 PM</small>
                </div>
              </div>

              <div
                class="precription-item col-12 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
              >
                <div class="medandid">
                  <p>#ID-1233</p>
                  <small class="d-block">1. Cronin</small>
                  <small class="d-block">2. Iodian</small>
                </div>

                <div class="appointmentdate my-auto">
                  <span>28th march 2022</span>
                  <small class="d-block">10:30 PM</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
