<!-- <div class="appointmentDetailspage ps-3 p-5">
  <div class="report mt-3 mb-0">
    <hr class="mt-0" />

    <div class="report-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 mx-auto left-part">
          <div class="vitals border shadow mb-4 p-3 pe-0 rounded-3">
            <div class="d-flex align-items-center">
            <h4>Vitals </h4> <small class="fw-lighter ms-2">(last recorded)</small>
          </div>
            <div class="icons mt-4 ps-3">
              <div class="icon-container me-5 d-inline-block">
                <div class="mb-2"><i class="fa-regular fa-heart icon"></i></div>
                <span class="icon-text"
                  ><b>{{ petHistory.HeartRate }}</b> HR</span
                >
              </div>

              <div class="icon-container me-5 d-inline-block">
                <div class="mb-2">
                  <i class="fa-solid fa-thermometer icon"></i>
                </div>
                <span class="icon-text"
                  ><b>{{ petHistory.Temperature }}</b> &deg;C</span
                >
              </div>

              <div class="icon-container d-inline-block">
                <div class="mb-2"><i class="fa-solid fa-lungs icon"></i></div>
                <span class="icon-text"
                  ><b>{{ petHistory.OxygenLevel }}</b> BPM</span
                >
              </div>
            </div>
          </div>
          <div class="symptoms border shadow mb-4 p-3 pe-0 rounded-3">
            <div class="d-flex align-items-center">
            <h4>Symptoms</h4><small class="fw-lighter ms-2">(last recorded)</small>
          </div>
            <div class="all-item-list mt-4 ps-3">
              @if (petHistory.Symptoms.length>0){

                @for (symptoms of petHistory.Symptoms; track $index) {
                <div class="capsule">{{ symptoms.Symptom?.SymptomName }}</div>
                }
              }@else {
                <div class="text-center text-danger">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  <p>No Symptoms found</p>
                </div>
              }
            </div>
          </div>
          <div class="tests border shadow mb-4 p-3 pe-0 rounded-3">
            <div class="d-flex align-items-center">
            <h4>Tests</h4><small class="fw-lighter ms-2">(last recorded)</small>
          </div>
            <div class="all-item-list mt-4 ps-3">
              @if (petHistory.Tests.length>0){
              @for (test of petHistory.Tests; track $index) {
              <div class="capsule">{{ test.Test?.TestName }}</div>
              }
            }@else {
              <div class="text-center text-danger">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>No Tests found</p>
              </div>
            }
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 mx-auto right-part">
          <div class="precription border shadow p-3 rounded-3">
            <div class="precription-heading d-flex justify-content-between">
              <h4 class="mt-2">Precription</h4>
              <mat-form-field appearance="fill">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [(ngModel)]="selectedDate"
                  placeholder="Select Date"
                  (ngModelChange)="onDateChange()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="row all-item-list p-3">
              @if (petHistory.Prescriptions.length>0){
              @for (prescription of petHistory.Prescriptions; track $index) {
              <div
                class="precription-item col-12 p-2 d-flex justify-content-between border rounded-3 shadow-sm mt-2"
              >
                <div class="medandid">
                  <p>#ID-{{ prescription.PrescriptionID }}</p>
                  @for (medicine of prescription.PrescribedMedicines; track
                  $index) {
                  <small class="d-block">{{
                    $index + 1 + ". " + medicine.Medicine?.MedicineName
                  }}</small>
                  }
                </div>

                <div class="appointmentdate my-auto">
                  <span>{{ petHistory.ScheduleDate[$index] | date }}</span>
                  <small class="d-block">{{
                    petHistory.ScheduleDate[$index] | date : "shortTime"
                  }}</small>
                </div>
              </div>
              }}@else {
                <div class="text-center text-danger mt-4">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  <p>No Prescriptions found</p>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="appointment-history-page m-4">

  <div class="appointment-history-heading d-flex justify-content-between align-items-center">
    <h4>Appointment History</h4>

    <div>
    <mat-form-field appearance="fill">
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Select Date"
        [(ngModel)]="selectedDate"
        (ngModelChange)="onDateChange()"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button class="btn ms-3 orange-color-bg" (click)="clearDate()">Clear</button>
  </div>

  </div>
    <hr>

    <div class="appointment-history-body border rounded-3 shadow all-item-list">


      @if(filteredAppointmentHistory.length!=0)
      {

     @for(appointment of filteredAppointmentHistory; track $index){


      <div class="appointment-row border rounded-3 shadow-sm m-2 mt-3 pt-2 pb-2 ps-3 pe-3 d-flex justify-content-between align-items-center">

       <div>
         <h6 class="fw-bold">#ID {{appointment.AppointmentID}}</h6>
         <p class="fw-medium m-0 p-0">{{doctors[$index].FName+" "+doctors[$index].LName}}</p>
         <p class="m-0 p-0"><span class="fw-medium">Reason:</span>{{appointment.ReasonOfAppointment}}</p>
       </div>


       <div>
        <p class="fw-medium m-0 p-0">{{appointment.ScheduleDate | date}}</p>
        <p class="fw-medium m-0 p-0">{{appointment.ScheduleDate.toTimeString() }}</p>
       </div>

       <div class="view-details">
          <button routerLink="/DoctorDashboard/details/{{petId}}" class="btn capsule">View Details<i class="fa-solid fa-up-right-from-square ms-2"></i></button>

        </div>


      </div>
    }
    }
    @else {
      <div class="text-center text-danger position-relative top-50">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>No Appointment History</p>
      </div>
    }


    </div>


</div>
