

.message {
    font-size: 24px;
    font-weight: bold;
    color: #dc3545; /* Red color for emphasis */
}

.illustration {
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
}

.heading {
    padding-top: 16px;
    font-size: 1.5rem;
}

/* admin-dashboard.component.css */

/* Center the loading spinner vertically and horizontally */
.loading-spinner-container {
    position: fixed;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}

/* Style the loading spinner */
.loading-spinner {
    width: 2rem;
    height: 2rem;
}

.btn-orange {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.btn-orange:hover {
    background-color: darkorange; /* Change color on hover if needed */
}
