.text-box {
    width: 200px; /* Adjust width as needed */
    border: none;
    border-bottom: 2px solid #aaa; /* Bottom border */
    outline: none;
    font-size: small;
    padding: 8px 0; /* Add padding to keep text away from border */
    transition: border-bottom-color 0.3s;
}

/* Style for the placeholder text */
.text-box::placeholder {
    color: #aaa; /* Placeholder color */
}

/* Style for the text box when focused */
.text-box:focus {
    border-bottom-color: #b84f17; /* Change border color when focused */
}
.rounded-circle-img {
    max-width: 150px; /* Maximum width for the image */
    max-height: 150px; /* Maximum height for the image */
    border-radius: 50%; /* Make it a circle */
}