<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Pet Profile</h5>
            </div>
            <div class="row">
              <h6 class="text-muted mt-2" style="font-size: small;">Update Pet Details</h6>
            </div>
            <div class="row">
                <div class="col-5">
                    <img>
                </div>
                <div class="col-7">
                    <div class="row">
                        <h6 class="text-muted" style="font-size:small">Name</h6>
                    </div>
                    <div class="row ms-1 me-3 ">
                        <input type="text" class="text-box" placeholder="Enter Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center ">
          <button type="button" class="btn btn-secondary col-5 " data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary col-5 ">Save changes</button>
        </div>
      </div>
    </div>
  </div>