<!-- pet appointment card .html -->
<div class="card shadow mt-3">
    <div class="row ms-1 align-items-center">
        <div class="col-md-4 col-12 d-flex align-items-center justify-content-center p-0">
            <img [src]="appointmentcard.PetPhoto" class="card-img-top rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" alt="...">
        </div>
        <div class="col-md-8 col-12">
            <div class="card-body">
                <h5 class="card-title card-content">{{ appointmentcard.PetName | ellipsis}}</h5>
                <p class="text-muted" style="font-size: 0.9rem;">{{ appointmentcard.PetGender }} {{appointmentcard.PetAge}} </p>
                <p class="text-muted card-text" style="font-size: 0.9rem;">Owner: {{ appointmentcard.OwnerName | firstName}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-3 ms-1 me-1">
        <div class="col-md-5 col-12 px-1 ">
            <h6 class="card-text card-content" style="font-size: 0.9rem;">{{ appointmentcard.ScheduleDate| date: 'mediumDate' }}</h6>
            <h6 class="card-text card-content" style="font-size: 0.9rem;">{{ appointmentcard.ScheduleDate | date: 'hh:mm:a'}}</h6>
        </div>
        <div class=" container-box col-md-7 col-12 d-flex align-items-center justify-content-between card-content">
                <button class="btn" (click)="openPopup('Chat')"><i class="far fa-comment" style="color: orange;"></i></button>
                <button class="btn" (click)="openPopup('Phone')"><i class="fas fa-phone" style="color: orange;"></i></button>
                <button class="btn" (click)="openPopup('Video')"><i class="fas fa-video" style="color: orange;"></i></button>
    </div>
    </div>                
    <div class="card-body">
        <a [routerLink]="'/' + user + 'Dashboard/details/' + appointmentcard.AppointmentID" class="btn col-md-6 col-12">Details</a>
        <!-- code edited -->
        <a type="button" class="btn col-md-6 col-12 px-0"   *ngIf="role !== 'Doctor'" [attr.data-bs-toggle]="role === 'Doctor' ? null : 'modal'" 
          [attr.data-bs-target]="role === 'Doctor' ? null : '#feedbackModal'"  (click)="clicked(appointmentcard.AppointmentID)" >Feedback</a>

    </div>
</div> 

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true" *ngIf="showmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #feedbackForm="ngForm"  novalidate>
        <div class="modal-header">
          <h5 class="modal-title" id="feedbackModalLabel">Feedback Form</h5>
          <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <div *ngIf="!isFormValid()" class="text-danger">
            All rating field are compulsory
          </div>
        
          <div class="form-group" *ngFor="let question of feedbackquestions">
            <label for="question{{question.FeedbackQuestionId}}">How satisfied are you with {{ question.FeedbackQuestionName }}?</label>
            <div class="star-rating">
              <span class="star" *ngFor="let rating of [1, 2, 3, 4, 5]"
        (click)="setRating(question.FeedbackQuestionId, rating)"
        [ngClass]="{'filled': isFilled(rating, question.FeedbackQuestionId)}">
        ★
    </span>
            </div>
           <hr>
          </div>
          
            
            <div class="form-group">
              <label for="recommendation">Would you refer this doctor to others?</label>
              <select id="recommendation" name="recommendation" #recommendation=ngModel    [(ngModel)]="feedback.Recommendation" required class="form-control"  style="width: 250px;">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="PreferNotToSay">PreferNotToSay</option>
              </select>
             
            </div>
            <div class="form-group">
              <label for="comments">Additional Comments</label>
              <textarea id="comments" name="comments" [(ngModel)]="feedback.Comments" class="form-control" ></textarea>
         
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()"  (click)="onSubmit(appointmentcard.AppointmentID)" data-dismiss="modal" data-bs-dismiss="modal">Submit Feedback</button>
            </div> 
       
          </div> 

          