<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <h5 class="col-9 mx-2 p-0">Account Details</h5>
        
        <button class="btn btn-edit col-1 mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
        <button class="btn btn-outline-danger ms-2 col-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        <!-- <p class="text-muted col-5">Manage your account details here</p> -->

      </div>
      </div>
      <div class="card-body pb-5">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src={{vetProfile?.Photo}} alt="Vet Photo" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
            </div>
            <div class="col-md-4">
                <div class="info">
                    <p class="text-muted">Name  &nbsp;: &nbsp;{{vetProfile?.FName}}&nbsp;{{vetProfile?.LName}} </p>
                    <p class="text-muted">NPI Number &nbsp;: &nbsp;{{vetProfile?.NPINumber}} </p>
                    <p class="text-muted">Speciality  &nbsp;:&nbsp; {{vetProfile?.Speciality}} </p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                  <p class="text-muted">Mobile &nbsp;:&nbsp;{{vetProfile?.Phone}}</p> 
                  <p class="text-muted">Email &nbsp;:&nbsp;{{vetProfile?.Email}} </p> 
              </div>
          </div>
        </div>
    </div>
    </div>
  </div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="form-group">
              <!-- Existing Profile Image -->
              <img src="{{ vetProfile!.Photo }}" alt="Image" class="img-thumbnail mb-3" style="width: 100px; height: auto;">
            
              <!-- File Input for New Image -->
              <input type="file" id="profileImage" (change)="onImageSelected($event)"  [(ngModel)]="vetProfile!.Photo" name="Photo"class="form-control-file">
            
              <!-- Preview of New Image -->
              <img [src]="imageSrc" *ngIf="imageSrc" class="img-thumbnail mt-2" style="width: 100px; height: 100px;">
            </div>
            
        </div>       
           <div class="mb-3">
            <label for="fname" class="form-label">FName</label>
            <input type="text" class="form-control" id="fname" [(ngModel)]="vetProfile!.FName" name="fname">
          </div>
          <div class="mb-3">
            <label for="lname" class="form-label">LName</label>
            <input type="text" class="form-control" id="lname" [(ngModel)]="vetProfile!.LName" name="lname">
          </div>
          <div class="mb-3">
            <label for="speciality" class="form-label">Speciality</label>
            <input type="text" class="form-control" id="speciality" [(ngModel)]="vetProfile!.Speciality" name="speciality">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="vetProfile!.Email" name="email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phone" [(ngModel)]="vetProfile!.Phone" name="phone">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
        <button type="button" [disabled]="!successMessage" class="btn btn-edit" data-bs-dismiss="modal" (click)="updateVet(vetProfile!.VetId,vetProfile!)">Confirm</button>
      </div>

      <ng-template #successMessage>
        <div class="alert alert-success" role="alert">
            Vet profile updated successfully!
        </div>
    </ng-template>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <!-- Modal content -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to delete?
        <div class="row mx-5 px-5 gap-5">
          <div class="col-2 p-2 mx-2 ">
            <button class="btn btn-light mx-2">Cancel</button>
          </div>
          <div class="col-2 p-2 mx-2 ">
            <!-- Disable the button if the successMessage variable is falsy -->
            <button type="button" class="btn btn-edit mx-2" (click)="deleteVet(vetProfile!.VetId)">Delete</button>
          </div>
        </div>
      </div>
      <!-- Display the success message if the successMessage variable is truthy -->
      <ng-container *ngIf="deleteMessage">
        <div class="modal-footer">
          <div class="alert alert-success" role="alert">
            Vet profile deleted successfully!
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-vet-appointment-list [VetID]="vetProfile!.VetId"></app-vet-appointment-list>

</body>