<div class="container my-4">
    <h5 class="mb-3 p-2">Appointment History</h5>
    <div id="appointmentCarousel" class="carousel slide" data-bs-ride="carousel">
      
      <!-- Carousel inner (wrapper for slides) -->
      <div class="carousel-inner">
        <ng-container *ngFor="let group of groupedAppointments(); let isFirst = first">
          <div class="carousel-item" [class.active]="isFirst">
            <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-lg-3 g-4">
              <app-pet-appointment-card *ngFor="let appointment of group" 
                                        [appointmentcard]="appointment" [user]="user">
              </app-pet-appointment-card>
            </div>
          </div>
        </ng-container>
      </div>
  
      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#appointmentCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#appointmentCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  
    </div>
  </div>
  