<style>
  .card-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="icon-input">
        <input class="icon-input__text-field" type="text" [(ngModel)]="searchQuery" (input)="filterVets()">
        <i class="icon-input__icon material-icons">search</i>
      </div>
    </div>
    

  <h1>Top Rated Doctors</h1>
  <div class="row">
    <!-- Repeat this block for each profile -->
    <div *ngFor="let vet of topRatedVets" class="col-md-3 col-sm-6 mb-4">
      <a href="javascript:void(0);" class="card-link" (click)="openVetProfile(vet.VetId)">
        <div class="card">
          <!-- <img [src]="vet.Photo" class="card-img-top" alt="Not found" /> -->
          <div class="card-body text-center">
            <h5 class="card-title">{{ vet.Name}}</h5>
            <p class="card-text">{{ vet.Speciality }}</p>
            <p class="card-text">{{ vet.PhoneNumber }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
  <hr>
  <div class="row">
    <!-- Repeat this block for each profile -->
    <div *ngFor="let vet of filteredVets" class="col-md-3 col-sm-6 mb-4">
      <a href="javascript:void(0);" class="card-link" (click)="openVetProfile(vet.VetId)">
        <div class="card">
          <!-- <img [src]="vet.Photo" class="card-img-top" alt="Not found" /> -->
          <div class="card-body text-center">
            <h5 class="card-title">{{ vet.Name }}</h5>
            <p class="card-text">{{ vet.Speciality }}</p>
            <p class="card-text">{{ vet.PhoneNumber }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
