<div class="appointment container" *ngIf="appointment">
  <span class="appointment-heading">
  <i class="fas fa-arrow-left"></i>  

  <h6 class="appointment-title">Back to appointments</h6>
</span>
    
      <div class="col-sm-6">
        <span class="appointment-id">#ID - {{ appointment.AppointmentID }}</span>
      </div>
      <div class="appointment-details row">
        <div class="col-sm-6">
          <span class="appointment-date">
            <i class="far fa-calendar-alt"></i>
            {{ appointment.ScheduleDate | date:'dd MMM, yyyy' }}
          </span>
          <span class="appointment-date">
            <i class="far fa-clock"></i>
            {{ appointment.ScheduleDate | date:'h:mm a' }}
          </span>
          <span class="appointment-actions"> 
            <i class="fas fa-phone"></i> <i class="fas fa-video"></i> 
          </span>
          
            <span class="appointment-buttons">
              <button class="btn btn-sm btn-outline-primary">Cancel</button>
              <button class="btn btn-sm btn-outline-warning">Edit</button>
              <button class="btn btn-sm btn-outline-danger">Close Appointment</button>
            </span>
          
        </div>
      </div>
      <!-- <div class="col-sm-2">
        <span class="appointment-date">
          
          <i class="far fa-clock"></i>
          {{ appointment.ScheduleDate | date:'h:mm a' }}
        </span>
      </div> -->
   



    <!-- <div class="appointment-actions row">
      <div class="col">
        <button class="btn btn-danger cancel-button">Cancel</button>
      </div>
      <div class="col">
        <button class="btn btn-warning edit-button">Edit</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary close-button">Close Appointment</button>
      </div>
    </div> -->
    <div class="pet-issues">
      <h3>Pet Issues:</h3>
      <ul>
        <li *ngFor="let issue of appointment.PetIssues">{{ issue.IssueName }}</li>
      </ul>
    </div>
    <div class="reasons-for-visit">
      <h3>Reasons for visit:</h3>
      <p>{{ appointment.ReasonForVisit }}</p>
    </div>
    <div class="confirmed-by">
      <p>Confirmed by Jane Doe</p>
    </div>
  </div>