<div id="all-appointment">


<div class="appointment container" *ngIf="appointment">
  <span class="appointment-heading" routerLink="../..">
  <i class="fas fa-arrow-left"></i>  

  <h6 class="appointment-title" >Back to appointments</h6>
</span>

      <div class="col-sm-6">
        <span class="appointment-id">#ID - {{ appointment.AppointmentID }}</span>
      </div>


      <div class="appointment-details row">
        <div class="col-sm-4">
            <span class="appointment-date">
              <i class="far fa-calendar-alt"></i>
              {{ appointment.ScheduleDate | date:'dd MMM, yyyy' }}
            </span>
            <span class="appointment-date">
              <i class="far fa-clock"></i>
              {{ appointment.ScheduleDate | date:'h:mm a' }}
            </span>
          </div>
          <div class="col-sm-2">
            <span class="appointment-actions d-flex justify-content-end">
              <i class="fas fa-phone" style="color: rgb(255, 111, 0);"></i>
            </span>
            <span class="appointment-actions d-flex justify-content-end">

            <i class="fas fa-video" style="color: rgb(255, 111, 0);"></i>
            </span>
          </div>
          <div class="col-sm-6">
            <span class="appointment-buttons d-flex justify-content-end" *ngIf="appointment.Status==0 || appointment.Status==1">
              <button *ngIf="isDoctor() && appointment.Status==0" type="button" class="btn btn-sm btn-outline-secondary me-2" (click)="openModal3()">Accept</button>
              <button class="btn btn-sm btn-outline-secondary me-1" (click)="openModal2()">Cancel</button>
              <button class="btn btn-sm btn-outline-secondary me-1" [routerLink]="'/editAppointment/'+appointment.AppointmentID" >Edit</button>
              
              <button *ngIf="!isPatient() && appointment.Status==1" type="button" class="btn btn-sm btn-outline" style="background-color: rgb(255, 111, 0); color: #fff;" (click)="openModal()">Close Appointment</button>

            </span>
          </div>
        </div>

        <div class="pet-issues d-flex flex-wrap">
          <p>Pet Issues:</p>
          <ul class="list-unstyled d-flex flex-wrap">
            <li class="capsule" *ngFor="let issue of appointment.PetIssues">{{ issue.IssueName }}</li>
          </ul>
        </div>
    <div class="reasons-for-visit d-flex flex-wrap">
      <h6>Reasons for visit:</h6>
      <p>{{ appointment.ReasonForVisit }}</p>
    </div>
    <div class="confirmed-by">

      <p style="color:gray;" *ngIf="appointment.Status!=0">Confirmed by {{DoctorName}}</p>
    </div>
  </div>




  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">  <div class="alert alert"> <i class="fas fa-exclamation-triangle"></i>
          </div>
          <h4>Close Appointment</h4>
          <p>Are you sure you want to close this appointment?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" style="background-color: white; color: black;">Cancel</button>
          <button type="button" class="btn btn-primary" style="background-color: orangered;" (click)="closeAppointment()">Confirm</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">  <div class="alert alert"> <i class="fas fa-check"></i>
          </div>
          <h4>Accept Appointment</h4>
          <p>Are you sure you want to accept this appointment?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal3()" style="background-color: white; color: black;">Cancel</button>
          <button type="button" class="btn btn-primary" style="background-color: orangered;" (click)="acceptAppointment()">Confirm</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">  <div class="alert alert"> <i class="fas fa-exclamation-triangle"></i>
          </div>
          <h4>Cancel Appointment</h4>
          <p>Are you sure you want to cancel this appointment?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal2()" style="background-color: white; color: black;">Cancel</button>
          <button type="button" class="btn btn-primary" style="background-color: orangered;" (click)="cancelAppointment()" >Confirm</button>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- First Child Component -->
    <div class="col-md-8 pe-1">
        <app-appointment-pet-profile [PetId]="appointment.PetID" *ngIf="appointment.PetID != undefined && appointment.PetID != 0"></app-appointment-pet-profile>
    </div>
    <!-- <p>{{appointment.PetID}}</p> -->
    <!-- Second Child Component -->
    <div class="col-md-4 ps-1">

        <app-vet-profile-appt [VetId]="appointment.DoctorID" *ngIf="appointment.DoctorID != undefined && appointment.DoctorID != ''"></app-vet-profile-appt>
        <!-- <p>{{appointment.DoctorID}}</p> -->
    </div>
</div>
</div>


@if(appointment.Report!=null){
  <app-report [reportId]="appointment.Report.ReportID" (messageEvent)="exportToPDF($event)"></app-report>

}







