<div class="appointment container" *ngIf="appointment">
    <h2>Back to appointments</h2>
    <div class="appointment-details row">
      <div class="col-sm-6">
        <span class="appointment-id">#{{ appointment.AppointmentID }}</span>
      </div>
      <div class="col-sm-6">
        <span class="appointment-date">{{ appointment.ScheduleDate }}</span>
      </div>
    </div>
    <div class="appointment-actions row">
      <div class="col">
        <button class="btn btn-danger cancel-button">Cancel</button>
      </div>
      <div class="col">
        <button class="btn btn-warning edit-button">Edit</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary close-button">Close Appointment</button>
      </div>
    </div>
    <div class="pet-issues">
      <h3>Pet Issues:</h3>
      <ul>
        <li *ngFor="let issue of appointment.PetIssues">{{ issue.IssueName }}</li>
      </ul>
    </div>
    <div class="reasons-for-visit">
      <h3>Reasons for visit:</h3>
      <p>{{ appointment.ReasonForVisit }}</p>
    </div>
    <div class="confirmed-by">
      <p>Confirmed by Jane Doe</p>
    </div>
  </div>