<div class="container mt-4">
    <div class="card" style="max-width: 350px;">     
        <div class="card-body pb-5"> 
            <div class="row mb-2 ">
                <div class="col-md-4"> 
                    <img 
                        src= {{vetProfile?.Photo}} 
                        alt="Vet Photo" 
                        class="img-fluid rounded-circle" 
                        style="width: 100px; height: 100px;" 
                    />
                </div>
                <div class="col-md-8 mx-0"> 
                    <div class="info">
                        <p>Doctor</p>
                        <h6 class="fw-bold my-0">name {{ vetProfile?.FName }} {{ vetProfile?.LName }}</h6>
                        <p class="text-muted mt-0 mb-3">speciality{{ vetProfile?.Speciality }}</p>
                    </div>
                </div>
            </div>
                <div class = "row">
                    <div class="col-md-6">
                        <p class="text-muted">NPI Number: <span class = "fw-semibold">
                            {{ vetProfile?.NpiNumber }}
                        </span></p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-muted">
                            <i class="far fa-envelope"></i>  <span class = "fw-semibold">{{ vetProfile?.Email }}</span>
                        </p>
                        <p class="text-muted">
                            <i class="fas fa-phone"></i>  <span class = "fw-semibold">{{ vetProfile?.Phone }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
