<div class="wrapper">
  <aside id="sidebar" [class.expand]="expand">
    <div class="d-flex">
      <button class="toggle-btn" (click)="onExpand()" type="button">
        <i class="lni lni-grid-alt"></i>
      </button>
      <div class="sidebar-logo">
        <a href="#">Petzey</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a routerLink="petreporthistory" class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="apponitmentdetails" class="sidebar-link">
          <i class="lni lni-agenda"></i>
          <span>Appointment</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a routerLink="vet" class="sidebar-link">
          <i class="lni lni-popup"></i>
          <span>Doctors</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="lni lni-popup"></i>
          <span>Pets</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a href="#" class="sidebar-link">
        <i class="lni lni-exit"></i>
        <span>Logout</span>
      </a>
    </div>
  </aside>
  <div class="main p-3">
    <router-outlet></router-outlet>
  </div>
</div>
