<div class="bg-image">
    <div class="overlay">
      <div class="content">
        <!-- <h1 style="margin-bottom: 2%;color:aquamarine;">Welcome to petzey <img src="../../../../assets/logo10.png" alt=""> </h1>
        <h1 style="color: burlywood;">Sign In and Sign Up</h1>
        <h1 class="mb-4" style="margin-top: 10%;">Are you a...</h1> -->
        <div class="btn-group" >
          <h1>For testing with localhost(Will be removed)</h1>
          <button class="btn btn-info"><a href="https://petzeyauth.b2clogin.com/petzeyauth.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_signup_signin&client_id=7304aae4-5499-4358-b51c-95c0e047d8a1&nonce=defaultNonce&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fsignin%2F&scope=openid&response_type=id_token&prompt=login">Pet Owner</a></button>
          <button class="btn btn-info"><a href="https://petzeyauth.b2clogin.com/petzeyauth.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_doctor_signin-signup&client_id=7304aae4-5499-4358-b51c-95c0e047d8a1&nonce=defaultNonce&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fsignin%2F&scope=openid&response_type=id_token&prompt=login">Veterinary Doctor</a></button>
          <h1>For deployed application</h1>
          <button class="btn btn-info"><a href="https://petzeyauth.b2clogin.com/petzeyauth.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_signup_signin&client_id=7304aae4-5499-4358-b51c-95c0e047d8a1&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fpetzey-webapp.azurewebsites.net%2F&scope=openid&response_type=id_token&prompt=login">Pet Owner</a></button>
          <button class="btn btn-info"><a href="https://petzeyauth.b2clogin.com/petzeyauth.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_doctor_signin-signup&client_id=7304aae4-5499-4358-b51c-95c0e047d8a1&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fpetzey-webapp.azurewebsites.net%2F&scope=openid&response_type=id_token&prompt=login">Veterinary Doctor</a></button>
        </div>
      </div>
    </div>
  </div>
