<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-6">
      <div class="card text-center pet-card">
        <a href="https://petzeyauth.b2clogin.com/petzeyauth.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_signup_signin&client_id=7304aae4-5499-4358-b51c-95c0e047d8a1&nonce=defaultNonce&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fhome%2F&scope=openid&response_type=id_token&prompt=login">
          <img src="../../../../assets/images/pexels-chevanon-1108099.jpg" class="card-img-top rounded" alt="Pet Owner Image" style="height: 200px; object-fit: cover;">
        </a>
        <div class="card-body">
          <p class="card-text">Sign up as a Pet Owner</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-lg-6">
      <div class="card text-center pet-card">
        <a href="https://petzeyauth.b2clogin.com/petzeyauth.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_doctor_signin-signup&client_id=7304aae4-5499-4358-b51c-95c0e047d8a1&nonce=defaultNonce&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fhome%2F&scope=openid&response_type=id_token&prompt=login">
          <img src="../../../../assets/images/pexels-mikhail-nilov-7469226.jpg" class="card-img-top rounded" alt="Veterinary Doctor Image" style="height: 200px; object-fit: cover;">
        </a>
        <div class="card-body">
          <p class="card-text">Sign up as a Veterinary Doctor</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-lg-6">
      <div class="card text-center pet-card">
        <a href="https://petzeyauth.b2clogin.com/petzeyauth.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_receptionist_sign-in&client_id=7304aae4-5499-4358-b51c-95c0e047d8a1&nonce=defaultNonce&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fhome%2F&scope=openid&response_type=id_token&prompt=login">
          <img src="../../../../assets/images/pexels-quang-nguyen-vinh-222549-14036251.jpg" class="card-img-top rounded" alt="Receptionist Image" style="height: 200px; object-fit: cover;">
        </a>
        <div class="card-body">
          <p class="card-text">Sign in as a Receptionist</p>
        </div>
      </div>
    </div>
  </div>
</div>
