<!-- patient-dashboard-component.html -->
<div class="container mt-4">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-bolt" style="color: orange;"></i>
                            </div>
                            <div class="col p-0">
                                <h5 class="card-title">Total</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ appointmentStatus.Total }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-circle-check" style="color: orange;"></i>
                            </div>
                            <div class="col p-0">
                                <h5 class="card-title">Confirmed</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ appointmentStatus.Confirmed }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-square-check" style="color: orange;"></i>
                            </div>
                            <div class="col p-0">
                                <h5 class="card-title">Closed</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ appointmentStatus.Closed }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-xmark" style="color: orange;"></i>
                            </div>
                            <div class="col p-0">
                                <h5 class="card-title">Cancelled</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ appointmentStatus.Cancelled }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-exclamation" style="color: orange;"></i>
                            </div>
                            <div class="col p-0">
                                <h5 class="card-title">Pending</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ appointmentStatus.Pending }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h3 class="heading ms-3">Upcoming appointments</h3>
    <div class="container">
        <hr>
        <div class="container mt-4" *ngIf="!loadingAppointments && UpcomingappointmentCards.length === 0">
            <div class="alert alert-danger" role="alert">
                No upcoming appointments found.
            </div>
        </div>
        <div class="scrolling-wrapper pb-4" style="overflow-x: auto;">
            <div class="d-flex flex-nowrap">
                <div *ngFor="let appointment of UpcomingappointmentCards" style="margin-right: 10px;">
                    <div class="card1 appointment-card">
                        <!-- Add your appointment card content here -->
                        <app-doctor-appointment-card [appointmentcard]="appointment" [user]="user"></app-doctor-appointment-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-3 mt-4 col-sm-12">
            <h3 class="heading">All appointments</h3>
        </div>
        <div class="container mt-4" *ngIf="!loadingAppointments && appointmentCards.length === 0">
            <div class="alert alert-danger" role="alert">
                No appointments found.
            </div>
        </div>
        <div class=" container-box col-md-3 col-sm-6 d-flex align-items-center justify-content-center"> 
            <form action="post" method="post">
                <input type="date" name="selectedDate" (change)="onDateStatusChange()" [(ngModel)]="selectedDate">
            </form>
        </div>
        <div class=" container-box col-md-3 col-sm-6 d-flex align-items-center justify-content-center"> 
            <select name="Status" class="form-select" (change)="onDateStatusChange()" [(ngModel)]="selectedStatus">
                <option value="">Select Status</option>
                <option value="Pending">Pending</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Closed">Closed</option>
                <option value="Cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center"> 
            <button class="btn" style="background-color: orange; color: white;" [routerLink]="'/addAppointment'">+ New Appointment</button>
        </div>
    </div>
    <hr>
</div>

<div class="loading-spinner-container" *ngIf="loadingAppointments">
    <!-- Loading spinner -->
    <div class="spinner-border text-primary loading-spinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>



<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-lg-4 g-4">
        <div class="col mb-4" *ngFor="let appointment of appointmentCards">
            <app-doctor-appointment-card [appointmentcard]="appointment" [user]="user"></app-doctor-appointment-card>
        </div>
    </div>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" tabindex="-1" (click)="pageClick(page-1)" [class.disabled]="isPreviousPageDisabled()" style="cursor: pointer;">&laquo;</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="pageClick(page)" style="cursor: pointer;">{{page}}</a></li>

      <li class="page-item">
        <a class="page-link" (click)="pageClick(page+1)" [class.disabled]="isNextPageDisabled()"  style="cursor: pointer;">&raquo;</a>
      </li>
    </ul>
</nav>